annotated-types==0.8.0
anyio==4.15.0
asgiref==3.12.1
Authlib==1.8.0
boto3==1.43.86
botocore==1.43.86
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
cryptography==50.0.1
Django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.0
fastembed==0.8.0
filelock==3.32.5
flatbuffers==25.12.19
fsspec==2026.7.0
google-genai==0.3.0
grpcio==1.78.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.30.0
idna==3.19
jmespath==1.1.0
joserfc==1.7.5
loguru==0.7.3
mmh3==5.3.0
numpy==2.5.2
onnxruntime==1.29.0
packaging==26.3
pillow==12.3.0
protobuf==6.33.6
py_rust_stemmers==0.1.8
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
PyYAML==6.0.3
requests==2.34.2
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
tokenizers==0.23.2
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
validators==0.35.0
weaviate-client==4.23.0
win32_setctime==1.2.0
